.left-icon {
  width: 36px;
  height: 36px;
  color: #E4E7F1;
  transition: all 0.5s;
}
.left-icon:hover {
  animation: animation 1.5s forwards;
  color: black;
}

.right-icon {
  width: 36px;
  height: 36px;
  color: #E4E7F1;
  transition: all 0.5s;
}
.right-icon:hover {
  animation: animation 1.5s forwards;
  color: black;
}

.article {
  width: 100%;
}
.article-hr-div {
  width: 1px;
  height: 32px;
  background-color: #E4E7F1;
}
.article-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F3F6F9;
  border: none;
  border-radius: 16px;
  padding: 70px 31px 25px 31px !important;
}
.article-cont-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.article-cont-end {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 170px;
  height: 85px;
  border: none;
  border-radius: 32px;
  background-color: #fff;
}
.article-cont-center {
  width: 323px;
  height: 72px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #989EB1;
}
.article-cont-title {
  width: 271px;
  height: 70px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 94px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  color: #142251;
}
.article-cont-hover-box {
  margin: auto;
  width: 160px;
  height: auto;
  background-color: #142251;
  border: none;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 10px;
}
.article-cont-hover-box-text {
  width: 117px;
  height: 20px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  padding: 5px 0 0 0;
}
.article-cont-hover-box-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #142251;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  width: 33px;
  height: 33px;
}
.article-cont-hover-box-btn:hover {
  animation: animation 1.5s forwards;
}
.article-cont-bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}
.article-cont-bottom-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 280px;
  height: auto;
  border-radius: 16px;
  padding: 10px;
  background-color: white;
  transition: all 2s ease-in-out;
}
.article-cont-bottom-title {
  width: 253px;
  height: 62px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 90%;
  letter-spacing: -0.04em;
  color: #142251;
}
.article-cont-box-img {
  border: none;
  border-radius: 16px;
  height: 224px;
}
.article-cont-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 288px;
  height: 121px;
}
.article-cont-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

.contacts {
  width: 70%;
  margin: 2% auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 4vw;
}
.contacts_top {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts_top_text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 100%;
  color: #142251;
}
.contacts_top_up {
  width: 5%;
  height: 5%;
  background-color: #d6d6d6;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contacts_top_up_svg {
  width: 70%;
  height: 70%;
  fill: #7a7a7a;
}
.contacts_top_up_svg:hover {
  fill: #142251;
}
.contacts_bottom {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 1vw;
}
.contacts_bottom_get1 {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts_bottom_get {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts_bottom_get_text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 100%;
  color: #142251;
}
.contacts_bottom_get_input {
  width: 55%;
  height: 3vh;
  border: 1px solid #142251;
  border-radius: 10px;
  padding: 0 10px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 100%;
  color: #142251;
}
.contacts_bottom_get_input:focus {
  outline: none;
}
.contacts_bottom_get_svg {
  width: 20%;
  height: 20%;
  fill: #7a7a7a;
  cursor: pointer;
}
.contacts_bottom_get_svg:hover {
  fill: #142251;
}
.contacts_bottom_get_subtext {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7vw;
  line-height: 100%;
  color: #7a7a7a;
}
.contacts_bottom_get_button {
  width: 100%;
  height: 4vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ececec;
  border-radius: 10px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 100%;
  color: #142251;
}

@media (max-width: 768px) {
  .contacts {
    width: 90%;
    padding: 20px;
    gap: 2vw;
  }
  .contacts_top {
    width: 100%;
    flex-direction: column;
    gap: 1vw;
  }
  .contacts_top_text {
    font-size: 5vw;
    text-align: center;
  }
  .contacts_top_up {
    width: 10%;
    height: 10%;
  }
  .contacts_bottom {
    width: 100%;
    flex-direction: column;
    gap: 2vw;
  }
  .contacts_bottom_get1 {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
  }
  .contacts_bottom_get {
    width: 100%;
    flex-direction: column;
    gap: 1vw;
    align-items: start;
  }
  .contacts_bottom_get_text {
    font-size: 3vw;
  }
  .contacts_bottom_get_input {
    width: 100%;
    height: 5vh;
    font-size: 3vw;
  }
  .contacts_bottom_get_svg {
    width: 10%;
    height: 10%;
  }
  .contacts_bottom_get_subtext {
    font-size: 2vw;
  }
  .contacts_bottom_get_button {
    height: 6vh;
    font-size: 3vw;
  }
}
.footer {
  width: 70%;
  height: 6vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_contacts {
  width: 45%;
  height: 5vh;
  border-radius: 30px;
  border: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.footer_contacts_svg {
  width: 30px;
  height: 30px;
  fill: #8a8a8a;
}
.footer_contacts_svg:hover {
  fill: #121766;
}
.footer_contacts_text {
  font-weight: 600;
  font-size: 1.2vw;
  color: #8a8a8a;
}
.footer_contacts_text:hover {
  color: #121766;
}
.footer_contacts_input {
  font-size: 0.9vw;
  color: #001368;
  text-decoration: underline;
}
.footer_text {
  font-size: 1vw;
  color: #8a8a8a;
  font-weight: 500;
  text-decoration: underline;
}
.footer_text:hover {
  color: #121766;
}

@media (max-width: 768px) {
  .footer {
    width: 90%;
    height: 8vh;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .footer_contacts {
    width: 100%;
    height: 7vh;
    gap: 5px;
  }
  .footer_contacts_svg {
    width: 25px;
    height: 25px;
  }
  .footer_contacts_text {
    font-size: 3vw;
  }
  .footer_contacts_input {
    font-size: 2.5vw;
  }
  .footer_text {
    font-size: 3vw;
  }
}
@keyframes animation {
  0% {
    transition: all 0.5s ease-in;
    transform: scale(0.9);
  }
  50% {
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
  }
  100% {
    transition: all 0.5s ease;
    transform: scale(1);
  }
}
.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.header-cont {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-cont-list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header-cont-items {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  color: #142251;
}
.header-cont-items:hover {
  animation: animation 1.5s forwards;
  background-color: white;
  color: #213887;
}
.header-cont-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-cont-box-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #213887;
}
.header-cont-box-plus-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: #213887;
  color: white;
  font-size: 30px;
  width: 36px;
  height: 36px;
  transition: all 0.8s;
}
.header-cont-box-plus-btn:hover {
  animation: animation 1.5s forwards;
  border: 1px solid #213887;
  background-color: white;
  color: #213887;
}

.main {
  width: 100%;
  margin-top: 100px;
}
.main-right-icon {
  width: 35px;
  height: 35px;
  color: black;
}
.main-cont {
  display: flex;
  gap: 20px;
}
.main-cont-right {
  position: relative;
  width: 100%;
}
.main-cont-img {
  position: absolute;
  width: 175%;
  height: 110%;
  top: 100px;
  left: -170px;
  z-index: -3;
}
.main-cont-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-cont-left-title {
  width: 503px;
  height: 168px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 84px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #142251;
  margin-bottom: 40px;
}
.main-cont-left-box {
  background-color: rgba(255, 255, 255, 0.267);
  border: 1px solid #989EB1;
  border-radius: 16px;
  width: 75%;
  height: 12vh;
  padding: 20px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-cont-left-box-text {
  width: 100%;
  height: 10px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #989EB1;
}

.email-btn {
  border: none;
  border-radius: 16px;
  background-color: transparent;
}
.email-btn-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-decoration-line: underline;
  text-transform: lowercase;
  color: #213887;
}

.whatsap-icon {
  width: 25px;
  height: 25px;
  color: #213887;
}

.navbar {
  width: 1oop;
}
.navbar-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-cont-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 361px;
  height: 89px;
  background: rgba(33, 56, 135, 0.06);
  border-radius: 16px;
}
.navbar-cont-box-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #213887;
}
.navbar-cont-box-plus-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: #213887;
  color: white;
  font-size: 30px;
  width: 36px;
  height: 36px;
  transition: all 0.8s;
}
.navbar-cont-box-plus-btn:hover {
  animation: animation 1.5s forwards;
  border: 1px solid #213887;
  background-color: transparent;
  color: #213887;
}
.navbar-cont-title {
  width: 787px;
  height: 255px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 85%;
  letter-spacing: -0.04em;
  color: #142251;
}
.navbar-cont-title-span {
  color: #989EB1;
}
.navbar-cont-info {
  width: 488px;
  height: 24px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #989EB1;
}
.navbar-cont-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.navbar-cont-right {
  position: relative;
  width: 810px;
  height: 650px;
}
.navbar-cont-right-text {
  width: 109px;
  height: 20px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: #142251;
}
.navbar-cont-right-box {
  position: absolute;
  top: 570px;
  right: -200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: none;
  border-radius: 16px;
  background-color: #F2F3F8;
  width: 400px;
  height: 54px;
}
.navbar-cont-img {
  position: absolute;
  top: 90px;
  right: -230px;
  width: 610px;
  height: 450px;
}

.section {
  width: 100%;
}
.section-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.section-cont-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
}
.section-cont-title {
  width: auto;
  height: 94px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 94px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.04em;
  color: #142251;
}
.section-cont-text {
  width: 492px;
  height: 82px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #989EB1;
}
.section-cont-img {
  width: 100%;
  height: 400px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1200px;
  margin: auto;
  padding: 20px 0;
}

.hr-div {
  width: 100%;
  height: 3px;
  background-color: #213887;
  margin-top: 100px;
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
    margin: auto;
  }
}
.call {
  width: 100%;
  height: 1298px;
  background-color: #F2F3F8;
  margin-top: 125px;
}
.call-cont {
  display: flex;
  padding: 50px 0;
  gap: 40px;
  height: 600px;
}
.call-cont-title {
  width: 25%;
  height: 16vh;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 84px;
  line-height: 90%;
  letter-spacing: -0.04em;
  color: #142251;
}
.call-cont-text {
  width: 30%;
  height: 16vh;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #989EB1;
}
.call-cont-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 30vh;
  gap: 20px;
}
.call-cont-items {
  position: relative;
  border: none;
  border-radius: 32px;
  background-color: #FFF;
  width: 45%;
  height: 30vh;
}
.call-cont-items-top {
  position: absolute;
  background-color: #F2F3F8;
  border-radius: 16px;
  width: 40%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 110px;
  top: 15px;
}
.call-cont-items-bottom {
  position: absolute;
  width: 80%;
  height: 8vh;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #989EB1;
  bottom: -15px;
  left: 25px;
}

.meagaphone-icon {
  width: 70%;
  height: 10vh;
}/*# sourceMappingURL=style.css.map */